In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
netflix_df = pd.read_csv('netflix_dataset.csv')
netflix_df.head()

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Ariel,movie,"Comedy, Crime, Romance",1988.0,tt0094675,7.4,9064.0,NaN
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986.0,tt0092149,7.4,7865.0,NaN
2,American Beauty,movie,Drama,1999.0,tt0169547,8.3,1244098.0,NaN
3,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,524261.0,NaN
4,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1243145.0,NaN

In [6]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21172 entries, 0 to 21171
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               20478 non-null  object
 1   type                21172 non-null  object
 2   genres              20808 non-null  object
 3   releaseYear         21133 non-null  float64
 4   imdbId              19597 non-null  object
 5   imdbAverageRating   19411 non-null  float64
 6   imdbNumVotes        19411 non-null  float64
 7   availableCountries  162 non-null    object
dtypes: float64(3), object(5)
memory usage: 1.3+ MB

In [8]:
netflix_df.describe()

        releaseYear  imdbAverageRating  imdbNumVotes
count  21133.000000       19411.000000  1.941100e+04
mean    2013.298680           6.401169  3.166576e+04
std       14.307312           1.093227  1.201401e+05
min     1913.000000           1.200000  5.000000e+00
25%     2012.000000           5.700000  3.280000e+02
50%     2018.000000           6.500000  1.591000e+03
75%     2022.000000           7.200000  1.013750e+04
max     2025.000000           9.800000  3.021924e+06

In [10]:
netflix_df.isnull().sum()

title                   694
type                      0
genres                  364
releaseYear              39
imdbId                 1575
imdbAverageRating      1761
imdbNumVotes           1761
availableCountries    21010
dtype: int64

In [12]:
# Start cleaning data
netflix_df_cleaned = netflix_df.dropna(subset=['title','genres'])